{% extends 'base.html.twig' %}

{% block body %}

    <div class="add_form">
        <div class="content">
    {{ form_start(film_form) }}
            <label>Name</label>{{ form_widget(film_form.name, {'attr' : {'class' : 'form-control'}}) }}
            <label>Release Date</label>{{ form_widget(film_form.releaseDate, {'attr' : {'class' : 'date'}}) }}
            <label>Viewing Date</label> {{ form_widget(film_form.viewingDate, {'attr' : {'class' : 'date'}}) }}
            <label>Type</label>{{ form_widget(film_form.type, {'attr' : {'class': 'form-control'}}) }}
            <label>Director</label> {{ form_widget(film_form.director, {'attr' : {'class': 'form-control'}}) }}
            <label>Number of views</label> <br> {{ form_widget(film_form.view, {'attr' : {'class' : '' }} ) }}<br>
            {{ form_widget(film_form.submit, {'attr' : {'class': 'btn btn-dark submit'}}) }}
        {{ form_end(film_form) }}
        </div>
    </div>
{% endblock %}