{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
    <a href="{{ path('film_index') }}" class="btn btn-dark back_link">Back</a>
    <div class="edit_form">
        <div class="content">
            {{ form_start(film_form) }}
            <label>Name</label>{{ form_widget(film_form.name, {'attr' : {'class' : 'form-control'}}) }}
            <label>Release Date</label>{{ form_widget(film_form.releaseDate, {'attr' : {'class' : 'date'}}) }}
            <label>Viewing Date</label> {{ form_widget(film_form.viewingDate, {'attr' : {'class' : 'date'}}) }}
            <label>Type</label>{{ form_widget(film_form.type, {'attr' : {'class': 'form-control'}}) }}
            <label>Director</label> {{ form_widget(film_form.director, {'attr' : {'class': 'form-control'}}) }}
            <label>Number of views</label> <br> {{ form_widget(film_form.view, {'attr' : {'class' : '' }} ) }}<br>
            {{ form_widget(film_form.submit, {'attr' : {'class': 'btn btn-success submit'}, 'label' : 'Validate'}) }}
            {{ form_end(film_form) }}
            {{ include('film/_delete_form.html.twig') }}
        </div>
    </div>


{% endblock %}