{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as macro%}

{% block title %}Film{% endblock %}

{% block body %}

<div class="example-wrapper">
    <table class="table table-dark">
        <tr>
            <td>Film Title</td>
            <td>Director</td>
            <td>Type</td>
            <td>Release Date</td>
            <td>Viewing Date</td>
            <td>Number of Views</td>
        </tr>
        <tbody>
    {% for film in films %}
        <tr>
            {{ macro.show_film(film) }}
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <a href="{{ path('film_add') }}" class="btn btn-success add_button">Add</a>
        </tfoot>
    </table>
</div>
{% endblock %}
