table, tr, td
{
    text-align: center;
}
.add_form
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}
.content
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.submit
{
    margin-top: 2%;
    margin-bottom: 2%;
}
.form-control
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
.date
{
    margin-top: 1%;
    margin-bottom: 1%;
}
.table
{
    margin-top: 2%;
}
.title_editing
{
    text-align: center;
}
footer
{
    height: 6%;
}
.edit_form
{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}
.back_link
{
    margin-left: 1%;
    margin-top: 1%;
}
.add_button
{
    border-radius: 0;
    width: 100%;
}