{% macro show_film(film) %}
    <td>{{ film.name }}</td>
    <td>{{ film.director }}</td>
    <td>{{ film.type }}</td>
    <td>{{ film.releaseDate.format('d/m/Y') }}</td>
    <td>{{ film.viewingDate.format('d/m/Y') }}</td>
    <td>{{ film.view }}</td>
    <td>{{ include('film/_delete_form.html.twig') }}</td>
    <td><a href="{{ path('film_edit', {'id': film.id}) }}" class="btn btn-light">Edit</a></td>
{% endmacro %}